* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
}

.info-block__phoneV {
  display: none;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  font-size: 1em;
  overflow-x: hidden;
}
.wrap .burger__menu {
  width: 400px;
  min-height: 100vh;
  left: 100%;
  position: fixed;
  margin-top: 85px;
  background-color: white;
  z-index: 999;
  transition: left 0.3s;
  padding: 2% 3% 0 3%;
}
.wrap .burger__menu .burger__menu-box::-webkit-scrollbar {
  width: 0;
}
.wrap .burger__menu .burger__menu-box {
  width: 100%;
  padding: 0 0 150px 0;
  overflow: auto;
  height: 100vh;
}
.wrap .burger__menu .burger__menu-box .callbox {
  width: 100%;
  display: flex;
}
.wrap .burger__menu .burger__menu-box .callbox a {
  color: #3F4255;
  font-family: "Martel Sans", sans-serif;
  text-decoration: none;
  font-size: 1.3em;
  cursor: pointer;
  font-weight: 700;
}
.wrap .burger__menu .burger__menu-box .callbox a img {
  height: 22px;
  width: 22px;
  margin: 0px 20px 0 0;
  position: relative;
  top: 5px;
}
.wrap .burger__menu .burger__menu-box .servises__box {
  width: 100%;
  height: 75px;
  border-bottom: 2px solid #F2F4FA;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-family: "Martel Sans", sans-serif;
  font-size: 1em;
  color: #9093A6;
  cursor: pointer;
}
.wrap .burger__menu .burger__menu-box .language__dropDown-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown {
  width: 100px;
  height: 30px;
  font-size: 1em;
  color: #9093A6;
  font-weight: 800;
  font-family: "Martel Sans", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown img {
  width: 15px;
  margin-bottom: 2px;
  transition: all 0.3s;
}
.wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown .LanguagueArrow {
  transform: rotate(180deg);
}
.wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown-content__box {
  width: 100px;
  height: 0px;
  transition: all 0.3s;
  overflow: hidden;
}
.wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown-content__box ul {
  text-align: center;
}
.wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown-content__box ul li {
  list-style: none;
  color: #9093A6;
  font-family: "Martel Sans", sans-serif;
  margin-top: 5px;
  cursor: pointer;
}
.wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown-content__box-active {
  height: 100px;
}
.wrap .burger__menu .burger__menu-box .servises__box:nth-child(3) {
  border-top: 2px solid #F2F4FA;
  margin-top: 20px;
}
.wrap .burger__menu .burger__menu-box time {
  font-weight: 400;
  font-size: 1em;
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
  margin-left: 48px;
  width: 100%;
}
.wrap .burger__active {
  left: calc(100% - 400px);
  transition: left 0.3s;
}
.wrap .burger__maskDisabled {
  display: none;
  opacity: 0;
}
.wrap .burger__activeMask {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  animation: maskOn 0.3s 1;
}
@keyframes maskOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrap .homePage {
  width: 100%;
}
.wrap .homePage .headerTexture {
  width: 100%;
  height: 95px;
}
.wrap .homePage header {
  width: 100%;
  height: 95px;
  padding: 0 6.5%;
  top: 0;
  left: 0;
  border-bottom: 2px solid #D4D7E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-color: white;
}
.wrap .homePage header nav {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .homePage header nav div {
  display: flex;
  align-items: center;
}
.wrap .homePage header nav div #logIn {
  width: 34px;
  cursor: pointer;
}
.wrap .homePage header nav div label {
  margin-left: 2px;
  font-family: "Martel Sans", sans-serif;
  font-weight: 700;
  font-size: 1.32em;
  cursor: pointer;
  color: #9093A6;
}
.wrap .homePage header nav div #cart {
  width: 34px;
  cursor: pointer;
}
.wrap .homePage header nav .burger {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  padding: 17px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.wrap .homePage header nav .burger .burger__row {
  width: 50%;
  height: 2px;
  background-color: #9093A6;
  transition: all 0.3s;
}
.wrap .homePage header nav .burger .burger__row__active {
  transform: rotate(45deg);
  top: 50%;
  left: 0%;
  position: relative;
}
.wrap .homePage header nav .burger .burger__row__active__bottom {
  transform: rotate(-45deg);
  bottom: 40%;
  right: 2%;
  position: relative;
}
.wrap .homePage header nav .burger .rowOff {
  transform: scale(0) translate(0px, -50%);
}
.wrap .homePage header > img {
  width: 241px;
}
.wrap .homePage .main {
  width: 100%;
  margin-top: 10px;
  padding: 0 6.5%;
  display: flex;
  justify-content: space-between;
}
.wrap .homePage .main .main__left {
  width: 50%;
  padding-top: 146px;
}
.wrap .homePage .main .main__left .buttons {
  width: 342px;
  margin-top: 115px;
  display: flex;
  justify-content: space-between;
}
.wrap .homePage .main .main__left .buttons div {
  min-width: 155px;
  min-height: 95px;
  border: 2px solid #FFE145;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3F4255;
  font-family: "Martel Sans", sans-serif;
  cursor: pointer;
}
.wrap .homePage .main .main__left .buttons div h2 {
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 10px;
}
.wrap .homePage .main .main__left .buttons div p {
  font-weight: 300;
  position: relative;
  bottom: 12px;
}
.wrap .homePage .main .main__left > h2 {
  font-size: 5em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #3F4255;
  letter-spacing: 2px;
  width: 90%;
  line-height: 108%;
}
.wrap .homePage .main .main__right {
  width: 50%;
}
.wrap .homePage .main .main__right img {
  width: 1096px;
  position: relative;
  right: 240px;
}
.wrap .homePage .aboutBlock {
  width: 60.5%;
  height: 137px;
  position: relative;
  top: -65px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  padding: 0 1% 0 6.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .homePage .aboutBlock .aboutBlock__box {
  display: flex;
  align-items: center;
  width: 32%;
}
.wrap .homePage .aboutBlock .aboutBlock__box img {
  height: 65px;
}
.wrap .homePage .aboutBlock .aboutBlock__box p {
  margin-left: 18px;
  line-height: 132%;
  color: #3F4255;
  font-family: "Martel Sans", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}
.wrap .homePage .aboutBlock .aboutBlock__box:nth-child(2) {
  position: relative;
  left: 42px;
}
.wrap .RestaurantsPage {
  width: 100%;
  padding: 0 6.5%;
}
.wrap .RestaurantsPage .main {
  width: 100%;
}
.wrap .RestaurantsPage .main .main__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: -3px;
}
.wrap .RestaurantsPage .main .main__top p {
  font-weight: 300;
  font-size: 2.8em;
  letter-spacing: 5.3px;
}
.wrap .RestaurantsPage .main .main__top button {
  min-width: 156px;
  min-height: 65px;
  border: none;
  background-color: #F2F4FA;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
  font-size: 1.3em;
  letter-spacing: 0.6px;
}
.wrap .RestaurantsPage .main .main__bottom {
  width: 100%;
  margin-top: 60px;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
  height: 395px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button {
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  z-index: 2;
  cursor: pointer;
  position: absolute;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button img {
  width: 30px;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button:first-child {
  left: 5%;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button:last-child {
  right: 4.8%;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
  width: 390px;
  height: 100%;
  background-color: #fff;
  filter: drop-shadow(0px 2px 16px rgba(60, 62, 74, 0.08));
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article .card__img {
  width: 100%;
  height: 62%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-position: center;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article .card__descriptin {
  height: 38%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article .card__descriptin img {
  width: 50%;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(4) .card__descriptin img {
  width: 64%;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(5) .card__descriptin img {
  width: 37%;
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(2) .card__img {
  background-image: url(../img/burger.png);
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(3) .card__img {
  background-image: url(../img/pasta.png);
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(4) .card__img {
  background-image: url(../img/salad.png);
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(5) .card__img {
  background-image: url(../img/chops.png);
}
.wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button:last-child img {
  transform: rotate(180deg);
}
.wrap .nearestRestorantPage {
  width: 100%;
  height: 395px;
  margin-top: 90px;
  padding: 0 12%;
  background-color: #F2F4FA;
  display: flex;
  justify-content: space-between;
}
.wrap .nearestRestorantPage .nearestRestorantPage__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap .nearestRestorantPage .nearestRestorantPage__left h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 3em;
  position: relative;
  top: 8px;
  letter-spacing: 3.5px;
  color: #3F4255;
}
.wrap .nearestRestorantPage .nearestRestorantPage__left p {
  font-family: "Martel Sans", sans-serif;
  font-weight: 300;
  font-size: 1.41em;
  width: 70%;
  margin-top: 45px;
  color: #3F4255;
  line-height: 140%;
}
.wrap .nearestRestorantPage .nearestRestorantPage__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .nearestRestorantPage .nearestRestorantPage__right .input__container {
  display: flex;
  align-items: center;
}
.wrap .nearestRestorantPage .nearestRestorantPage__right .input__container input {
  width: 433px;
  height: 94px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: none;
  outline: none;
  margin-left: 156px;
  padding-left: 9%;
  font-size: 1.3em;
  color: #9093A6;
  font-weight: 300;
  font-family: "Martel Sans", sans-serif;
  letter-spacing: 0.8px;
}
.wrap .nearestRestorantPage .nearestRestorantPage__right .input__container input:focus {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}
.wrap .nearestRestorantPage .nearestRestorantPage__right .input__container::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url(../img/location.png);
  display: inline-block;
  background-size: cover;
  margin-left: 170px;
}
.wrap .nearestRestorantPage .nearestRestorantPage__right button {
  height: 94px;
  width: 124px;
  font-weight: 700;
  border: none;
  color: #B79C10;
  letter-spacing: 0.5px;
  border-radius: 6px;
  background: #FFE145;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}
.wrap .specialitiesPage {
  width: 100%;
  margin-top: 93px;
  padding: 0 6.5%;
}
.wrap .specialitiesPage .specialitiesPage__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.wrap .specialitiesPage .specialitiesPage__top p {
  font-weight: 300;
  font-size: 2.8em;
  letter-spacing: 5.3px;
}
.wrap .specialitiesPage .specialitiesPage__top button {
  min-width: 156px;
  min-height: 65px;
  border: none;
  background-color: #F2F4FA;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
  font-size: 1.3em;
  letter-spacing: 0.6px;
}
.wrap .specialitiesPage .specialitiesPage__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.wrap .specialitiesPage .specialitiesPage__bottom button {
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  z-index: 2;
  cursor: pointer;
  position: absolute;
}
.wrap .specialitiesPage .specialitiesPage__bottom button img {
  width: 30px;
}
.wrap .specialitiesPage .specialitiesPage__bottom button:last-child img {
  transform: rotate(180deg);
}
.wrap .specialitiesPage .specialitiesPage__bottom button:first-child {
  left: 5%;
}
.wrap .specialitiesPage .specialitiesPage__bottom button:last-child {
  right: 4.8%;
}
.wrap .specialitiesPage .specialitiesPage__bottom article {
  width: 180px;
  height: 180px;
  box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
  border-radius: 6px;
}
.wrap .specialitiesPage .specialitiesPage__bottom article .card__image {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .specialitiesPage .specialitiesPage__bottom article .card__image img {
  width: 35%;
  margin-top: 18px;
}
.wrap .specialitiesPage .specialitiesPage__bottom article .cardDescriptin {
  width: 100%;
  height: 40%;
  text-align: center;
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: 0.5px;
  color: #313030;
  font-family: "Martel Sans", sans-serif;
  padding-top: 5px;
}
.wrap .statisticPage {
  width: 100%;
  min-height: 375px;
  margin-top: 95px;
  background-image: url(../img/LemonBg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .statisticPage .statisticPage__container {
  width: 989.55px;
  margin-top: 15px;
}
.wrap .statisticPage .statisticPage__container .cardsBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.wrap .statisticPage .statisticPage__container .cardsBox article {
  width: 166px;
  height: 195px;
  background-image: url(../img/circleBg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  padding-bottom: 5px;
  padding-right: 5px;
  font-weight: 700;
  color: #3F4255;
  font-family: "Open Sans", sans-serif;
}
.wrap .statisticPage .statisticPage__container .cardsBox article p {
  width: 25%;
  position: absolute;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #3F4255;
  font-size: 30px;
  margin-top: 255px;
  letter-spacing: 1.5px;
}
.wrap .locationPage {
  width: 100%;
  padding: 95px 6.5%;
}
.wrap .locationPage .map {
  width: 100%;
  height: 790px;
  background-image: url(../img/map.png);
  background-size: cover;
  background-position: center;
}
.wrap .locationPage .map .locationBox {
  width: 100px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  left: 54.3%;
  top: 11%;
}
.wrap .locationPage .map .locationBox img {
  height: 50px;
  animation: grow 2s infinite;
  transition: 0.3s;
}
.wrap .locationPage .map .locationBox img:hover {
  animation-play-state: paused;
  height: 60px;
  cursor: pointer;
}
.wrap .locationPage .map .locationBox:nth-child(2) {
  left: 36.4%;
  top: 9%;
}
.wrap .locationPage .map .locationBox:nth-child(2) img {
  animation-delay: -1s;
}
.wrap .locationPage .map .locationBox:nth-child(3) {
  left: 42.85%;
  top: 6.5%;
}
.wrap .locationPage .map .locationBox:nth-child(3) img {
  animation-delay: -0.5s;
}
.wrap .locationPage .map .locationBox:nth-child(4) {
  left: 29.1%;
  top: 8.4%;
}
.wrap .locationPage .map .locationBox:nth-child(4) img {
  animation-delay: 0.5s;
}
.wrap .locationPage .map .locationBox:nth-child(5) {
  left: 39%;
  top: 1%;
}
.wrap .locationPage .map .locationBox:nth-child(5) img {
  animation-delay: 0.1s;
}
.wrap .locationPage .map .locationBox:nth-child(6) {
  left: 49.9%;
  top: -10.5%;
}
.wrap .locationPage .map .locationBox:nth-child(6) img {
  animation-delay: 1.5s;
}
.wrap .locationPage .map .locationBox:nth-child(7) {
  left: 53.8%;
  top: 1.1%;
}
.wrap .locationPage .map .locationBox:nth-child(7) img {
  animation-delay: 2.5s;
}
.wrap .locationPage .map .locationBox:nth-child(8) {
  left: 44.7%;
  top: -1.7%;
}
.wrap .locationPage .map .locationBox:nth-child(8) img {
  animation-delay: 3s;
}
.wrap .ourInstagramPage {
  width: 100%;
  padding: 0 6.5%;
  margin-top: 10px;
}
.wrap .ourInstagramPage .ourInstagramPage__title {
  width: 100%;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 2.96em;
  color: #313030;
  letter-spacing: 0.08em;
}
.wrap .ourInstagramPage .ourInstagramPage__title span {
  color: #adadad;
}
.wrap .ourInstagramPage .ourInstagramPage__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.wrap .ourInstagramPage .ourInstagramPage__main img {
  width: 395px;
}
.wrap footer {
  width: 100%;
  min-height: 577px;
  padding: 0 6.5%;
  margin-top: 95px;
  background-color: #3F4255;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap footer .footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap footer .footer__top .company-block {
  margin-top: 64px;
}
.wrap footer .footer__top .company-block img {
  width: 240px;
}
.wrap footer .footer__top .company-block .line {
  width: 389px;
  margin-top: 60px;
  height: 1px;
  background-color: #fff;
}
.wrap footer .footer__top .company-block .downloadButtons-block {
  display: flex;
  margin-top: 64px;
}
.wrap footer .footer__top .company-block .downloadButtons-block img {
  width: 102px;
  cursor: pointer;
}
.wrap footer .footer__top .company-block .downloadButtons-block img:last-child {
  margin-left: 13px;
  width: 112px;
}
.wrap footer .footer__top .info-block {
  width: 61.8%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.wrap footer .footer__top .info-block ul li:not(li:first-child) {
  cursor: pointer;
}
.wrap footer .footer__top .info-block ul li {
  color: #D4D7E6;
  font-family: "Martel Sans", sans-serif;
  font-weight: 300;
  font-size: 1.35em;
  margin-top: 7.8px;
  letter-spacing: 0.5px;
  font-weight: 700;
  list-style: none;
}
.wrap footer .footer__top .info-block ul li:first-child {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 1.9em;
}
.wrap footer .footer__top .info-block ul li:first-child + li {
  margin-top: 24px;
}
.wrap footer .footer__top .info-block ul:nth-child(2) {
  margin-right: 8px;
}
.wrap footer .footer__top .info-block ul:nth-child(2) select {
  width: 120px;
  height: 35px;
  cursor: pointer;
  margin-left: -3px;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 7.8px;
  color: #D4D7E6;
  background-color: #3F4255;
  letter-spacing: 0.5px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
}
.wrap footer .footer__top .info-block ul:last-child {
  width: 390px;
}
.wrap footer .footer__top .info-block ul:last-child li:first-child {
  font-weight: 600;
}
.wrap footer .footer__top .info-block ul:last-child li {
  font-weight: 300;
}
.wrap footer .footer__top .info-block ul:last-child li:first-child + li {
  margin-top: 28px;
}
.wrap footer .footer__top .info-block ul:last-child li:nth-child(3) {
  line-height: 156%;
  margin-top: 15px;
  letter-spacing: 0.3px;
}
.wrap footer .footer__top .info-block ul:last-child li:nth-child(3) + li {
  margin-top: 10px;
  letter-spacing: 0.5px;
  font-weight: 700;
}
.wrap footer .footer__top .info-block ul:last-child li:last-child {
  font-weight: 700;
  letter-spacing: 0.4px;
}
.wrap footer .footer__bottom {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-between;
}
.wrap footer .footer__bottom .socialNetworks {
  width: 156px;
  display: flex;
  justify-content: space-between;
}
.wrap footer .footer__bottom .socialNetworks img {
  width: 31px;
  height: 31px;
  cursor: pointer;
}
.wrap footer .footer__bottom .rules {
  width: 476px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}
.wrap footer .footer__bottom .rules span {
  font-weight: 800;
  font-family: "Martel Sans", sans-serif;
  font-size: 1em;
  color: white;
  cursor: pointer;
}
.wrap footer .footer__bottom .rules span:last-child {
  font-weight: 400;
  color: #D4D7E6;
}

.scrollLock {
  overflow: hidden;
}

@keyframes grow {
  35% {
    height: 50px;
  }
  50% {
    height: 60px;
  }
  35% {
    height: 50px;
  }
}
@media screen and (max-width: 1915px) {
  .wrap .homePage .aboutBlock {
    padding: 0 20px 0 5%;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container input {
    margin: 0;
    padding-left: 50px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right {
    justify-content: flex-end;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container::before {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1850px) {
  .wrap .homePage .aboutBlock .aboutBlock__box p {
    font-size: 1.2em;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box img {
    height: 60px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 365px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 365px;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom article {
    width: 160px;
    height: 160px;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img {
    height: 395px;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 375px;
    height: 375px;
  }
}
@media screen and (max-width: 1820px) {
  .wrap .nearestRestorantPage .nearestRestorantPage__left h2 {
    font-size: 2.5em;
    left: 3px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left p {
    font-size: 1.2em;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container input {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1765px) {
  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 355px;
    height: 355px;
  }
}
@media screen and (max-width: 1740px) {
  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 345px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 345px;
  }
}
@media screen and (max-width: 1700px) {
  .wrap .homePage header nav .burger {
    width: 55px;
    height: 55px;
  }

  .wrap .homePage header nav div #cart {
    width: 31px;
  }

  .wrap .homePage header nav div #logIn {
    width: 31px;
  }

  .wrap .homePage header nav div label {
    font-size: 1.1em;
  }

  .wrap .homePage header {
    height: 85px;
  }

  .wrap .homePage .main .main__right img {
    width: 890px;
    right: 125px;
  }

  .wrap .homePage .main .main__left > h2 {
    font-size: 4.5em;
    width: 538px;
  }

  .wrap .homePage .main .main__left .buttons {
    width: 290px;
    margin-top: 65px;
  }

  .wrap .homePage .main .main__left .buttons > div {
    min-width: 135px;
    min-height: 80px;
  }

  .wrap .homePage .main .main__left .buttons div h2 {
    font-size: 1.2em;
  }

  .wrap .homePage .main .main__left .buttons div p {
    font-size: 1em;
  }

  .wrap .homePage .aboutBlock {
    height: 115px;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box {
    width: 34%;
  }
}
@media screen and (max-width: 1665px) {
  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 325px;
    height: 325px;
  }

  .wrap footer .footer__top .info-block ul li:first-child {
    font-size: 1.5em;
  }

  .wrap footer .footer__top .info-block ul li:first-child + li {
    margin-top: 20px;
  }

  .wrap footer .footer__top .info-block ul:last-child li:first-child + li {
    margin-top: 20px;
  }

  .wrap footer .footer__top .info-block ul li {
    font-size: 1.10em;
  }

  .wrap footer .footer__bottom {
    height: 80px;
  }

  .wrap footer .footer__bottom .rules span {
    font-size: 0.9em;
  }

  .wrap footer {
    min-height: 470px;
  }

  .wrap footer .footer__top .company-block .line {
    width: 300px;
    margin-top: 35px;
  }

  .wrap footer .footer__top .company-block .downloadButtons-block {
    margin-top: 35px;
  }

  .wrap footer .footer__top .company-block img {
    width: 210px;
  }

  .wrap footer .footer__top .info-block ul:nth-child(2) select {
    font-size: 1.10em;
  }
}
@media screen and (max-width: 1640px) {
  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 325px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 325px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container input {
    width: 380px;
    height: 78px;
    font-size: 1em;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right button {
    height: 78px;
    width: 78px;
    font-size: 1em;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container::before {
    width: 28px;
    height: 28px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button {
    width: 55px;
    height: 55px;
  }

  .wrap .locationPage .map {
    height: 765px;
  }
}
@media screen and (max-width: 1600px) {
  .wrap .homePage .main .main__right img {
    width: 840px;
  }

  .wrap .homePage .main .main__left > h2 {
    font-size: 4em;
    width: 481px;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box img {
    height: 50px;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box {
    width: 32%;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box p {
    width: 100%;
    font-size: 1em;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box:nth-child(2) {
    width: 31%;
  }

  .wrap .RestaurantsPage .main .main__top p {
    font-size: 2.4em;
  }

  .wrap .RestaurantsPage .main .main__top button {
    min-width: 130px;
    min-height: 55px;
    font-size: 1.1em;
  }

  .wrap .RestaurantsPage .main .main__bottom {
    margin-top: 35px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left p {
    width: 99%;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left h2 {
    font-size: 2.2em;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left p {
    margin-top: 35px;
  }

  .wrap .specialitiesPage .specialitiesPage__top p {
    font-size: 2.4em;
  }

  .wrap .specialitiesPage .specialitiesPage__top button {
    min-width: 130px;
    min-height: 55px;
    font-size: 1.1em;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom {
    margin-top: 35px;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom article {
    width: 140px;
    height: 140px;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom article .cardDescriptin {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1550px) {
  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 305px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 305px;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 295px;
    height: 295px;
  }

  .wrap .ourInstagramPage .ourInstagramPage__title {
    font-size: 2.26em;
  }
}
@media screen and (max-width: 1470px) {
  .wrap .homePage .main .main__right img {
    width: 750px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 285px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 285px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button:last-child {
    right: 4.3%;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button:first-child {
    left: 4.3%;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button img {
    width: 50%;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container input {
    width: 320px;
    height: 65px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right button {
    height: 65px;
    width: 70px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left h2 {
    font-size: 2em;
    letter-spacing: 1.5px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left p {
    font-size: 1em;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom button {
    width: 55px;
    height: 55px;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom button img {
    width: 50%;
  }
}
@media screen and (max-width: 1425px) {
  .wrap footer .footer__top .info-block {
    width: 68%;
  }

  .wrap footer .footer__top .info-block ul li {
    font-size: 1em;
  }

  .wrap footer .footer__top .info-block ul li:first-child {
    font-size: 1.3em;
  }

  .wrap footer .footer__bottom {
    height: 70px;
  }

  .wrap footer .footer__bottom .socialNetworks img {
    width: 28px;
    height: 28px;
  }

  .wrap footer .footer__top .info-block ul:nth-child(2) select {
    width: 100px;
    font-size: 1em;
  }
}
@media screen and (max-width: 1400px) {
  .wrap .homePage header > img {
    width: 195px;
  }

  .wrap .homePage header {
    height: 75px;
  }

  .wrap .burger__menu {
    width: 350px;
    margin-top: 75px;
  }

  .wrap .burger__active {
    left: calc(100% - 350px);
  }

  .wrap .burger__menu .burger__menu-box .servises__box {
    height: 65px;
  }

  .wrap .homePage header nav div #cart {
    width: 28px;
  }

  .wrap .homePage header nav div #logIn {
    width: 28px;
  }

  .wrap .homePage header nav div label {
    font-size: 1.05em;
  }

  .wrap .homePage header nav .burger {
    width: 50px;
    height: 50px;
  }

  .wrap .homePage header nav {
    width: 235px;
  }

  .wrap .statisticPage .statisticPage__container .cardsBox article {
    width: 132.8px;
    height: 156px;
    font-size: 3.5em;
  }

  .wrap .statisticPage {
    height: 325px;
  }

  .wrap .statisticPage .statisticPage__container .cardsBox article p {
    margin-top: 225px;
    font-size: 24px;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 275px;
    height: 275px;
  }
}
@media screen and (max-width: 1370px) {
  .wrap .homePage .aboutBlock .aboutBlock__box img {
    height: 40px;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box p {
    width: 100%;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 265px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 265px;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom article:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1340px) {
  .wrap .homePage .aboutBlock .aboutBlock__box:first-child {
    width: auto;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box:first-child p {
    width: 126px;
  }

  .wrap .homePage .aboutBlock {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1295px) {
  .wrap .homePage .main .main__right img {
    width: 720px;
  }

  .wrap .homePage .main .main__left > h2 {
    font-size: 3.5em;
    width: 424px;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 255px;
    height: 255px;
  }

  .wrap footer .footer__top .info-block ul:last-child {
    width: 258px;
  }

  .wrap footer .footer__top .company-block img {
    width: 200px;
  }

  .wrap footer .footer__top .company-block .line {
    width: 240px;
    margin-top: 20px;
  }

  .wrap footer .footer__top .company-block .downloadButtons-block {
    margin-top: 25px;
  }
}
@media screen and (max-width: 1280px) {
  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 245px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 245px;
  }
}
@media screen and (max-width: 1265px) {
  .wrap .homePage .aboutBlock .aboutBlock__box:last-child {
    display: none;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box:nth-child(2) {
    width: auto;
  }

  .wrap .homePage .aboutBlock .aboutBlock__box:nth-child(2) p {
    width: 100px;
  }

  .wrap .homePage .aboutBlock {
    width: 500px;
    height: 100px;
  }

  .wrap .homePage .aboutBlock {
    padding: 0px 70px 0 5%;
  }
}
@media screen and (max-width: 1225px) {
  .wrap .homePage .main .main__right img {
    width: 620px;
    right: 125px;
  }

  .wrap .homePage .main .main__left > h2 {
    font-size: 3em;
    width: 367px;
  }

  .wrap .homePage .main .main__left {
    padding-top: 100px;
  }

  .wrap .nearestRestorantPage {
    padding: 0 6.5%;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container input {
    width: 290px;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom article:nth-child(3) {
    display: none;
  }

  .wrap .statisticPage {
    height: auto;
    padding: 50px 0;
  }

  .wrap .statisticPage .statisticPage__container .cardsBox article {
    margin: 60px 60px;
  }

  .wrap .statisticPage .statisticPage__container .cardsBox {
    flex-wrap: wrap;
  }

  .wrap .statisticPage .statisticPage__container {
    width: 85%;
  }

  .wrap .statisticPage .statisticPage__container .cardsBox {
    justify-content: space-around;
  }

  .wrap .statisticPage .statisticPage__container .cardsBox article p {
    font-size: 20px;
    width: auto;
  }

  .wrap .locationPage .map .locationBox img {
    height: 40px;
  }

  .wrap .locationPage .map .locationBox {
    width: 63px;
    height: 40px;
    left: 50.3%;
  }

  .wrap .locationPage .map {
    height: 430px;
  }

  @keyframes grow {
    35% {
      height: 40px;
    }
    50% {
      height: 50px;
    }
    35% {
      height: 40px;
    }
  }
  .wrap .locationPage .map .locationBox img:hover {
    height: 50px;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img:last-child {
    display: none;
  }

  .wrap .ourInstagramPage .ourInstagramPage__title {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 1180px) {
  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(5) {
    display: none;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 265px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 265px;
  }
}
@media screen and (max-width: 1100px) {
  .wrap .homePage .main .main__right img {
    width: 590px;
  }

  .wrap .burger__menu {
    width: 300px;
  }

  .wrap .burger__active {
    left: calc(100% - 300px);
  }

  .wrap .burger__menu .burger__menu-box .servises__box {
    height: 60px;
    font-size: 0.9em;
  }

  .wrap .burger__menu .burger__menu-box .callbox a {
    font-size: 1.1em;
  }

  .wrap .burger__menu .burger__menu-box .callbox a img {
    height: 18px;
    width: 18px;
    margin: 0px 12px 0 0;
  }

  .wrap .burger__menu .burger__menu-box time {
    font-size: 0.8em;
    margin-left: 36px;
  }

  .wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown {
    font-size: 0.9em;
  }

  .wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown-content__box ul li {
    margin-top: 3px;
  }

  .wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown img {
    width: 12px;
  }

  .wrap .burger__menu .burger__menu-box .language__dropDown-container .language__dropDown-content__box ul li {
    font-size: 0.8em;
  }

  .wrap footer .footer__top .info-block ul li {
    font-size: 0.9em;
    margin-top: 4.8px;
  }

  .wrap footer .footer__top .info-block ul:nth-child(2) select {
    font-size: 0.9em;
    margin-top: 4.8px;
  }

  .wrap footer .footer__top .info-block ul:last-child {
    width: 234px;
  }

  .wrap footer {
    min-height: 385px;
  }

  .wrap footer .footer__bottom {
    height: 55px;
  }

  .wrap footer .footer__bottom .socialNetworks {
    width: 140px;
  }

  .wrap footer .footer__bottom .socialNetworks img {
    height: 24px;
    width: 24px;
  }

  .wrap footer .footer__bottom .rules {
    width: 400px;
  }

  .wrap footer .footer__bottom .rules span {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1040px) {
  .wrap .specialitiesPage .specialitiesPage__bottom article:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .wrap .homePage .main {
    flex-direction: column-reverse;
  }

  .wrap .homePage .main .main__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrap .homePage .main .main__left h2 {
    text-align: center;
  }

  .wrap .homePage .main .main__right {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .wrap .homePage .main .main__right img {
    position: sticky;
  }

  .wrap .homePage .main .main__left {
    padding: 50px 0 30px 0;
  }

  .wrap .homePage .main .main__left > h2 {
    font-size: 2em;
    width: 271px;
  }

  .wrap .homePage .aboutBlock {
    margin-top: 90px;
    width: 460px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article {
    width: 245px;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    height: 245px;
  }

  .wrap .RestaurantsPage .main .main__top p {
    font-size: 1.8em;
    letter-spacing: 3.3px;
  }

  .wrap .RestaurantsPage .main .main__top button {
    min-width: 115px;
    min-height: 45px;
    font-size: 0.9em;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards {
    justify-content: space-around;
  }

  .wrap .nearestRestorantPage {
    height: 395px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left p {
    text-align: center;
    width: 350px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right {
    width: auto;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left h2 {
    text-align: center;
    width: 87%;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left h2 {
    font-size: 1.8em;
  }

  .wrap .specialitiesPage .specialitiesPage__top p {
    font-size: 1.8em;
    letter-spacing: 3.3px;
  }

  .wrap .specialitiesPage .specialitiesPage__top button {
    min-width: 115px;
    min-height: 45px;
    font-size: 0.9em;
  }

  .wrap .locationPage .map .locationBox img {
    height: 30px;
  }

  .wrap .locationPage .map .locationBox {
    width: 25px;
    height: 28px;
    left: 50.3%;
  }

  .wrap .locationPage .map {
    height: 300px;
  }

  @keyframes grow {
    35% {
      height: 30px;
    }
    50% {
      height: 40px;
    }
    35% {
      height: 30px;
    }
  }
  .wrap .locationPage .map .locationBox img:hover {
    height: 40px;
  }

  .wrap footer .footer__top {
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

  .wrap footer .footer__top .company-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-block__phoneV {
    display: block;
    margin-top: 30px;
  }

  .wrap footer .footer__top .info-block {
    display: none;
  }

  .info-block__phoneV .dropDown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
  }

  .info-block__phoneV .dropDown img {
    width: 8px;
    height: 14px;
    transition: all 0.3s;
    transform: rotate(-90deg);
  }

  .info-block__phoneV .dropdown-content ul li {
    list-style: none;
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 6px;
    color: white;
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    cursor: pointer;
  }

  .info-block__phoneV .dropdown-content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  .info-block__phoneV .dropdown-content:nth-child(4) select {
    width: 120px;
    height: 35px;
    cursor: pointer;
    margin-left: -3px;
    font-size: 1em;
    margin-top: 7.8px;
    color: #D4D7E6;
    background-color: #3F4255;
    font-weight: 700;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
    font-family: "Martel Sans", sans-serif;
  }

  .info-block__phoneV .dropdown__contentActive {
    margin-top: 25px;
    height: 230px;
    transition: all 0.3s;
  }

  .wrap footer .footer__bottom {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
  }

  .wrap footer .footer__bottom .rules {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .wrap footer .footer__bottom .rules span {
    margin: 0 10px;
  }

  .info-block__phoneV .dropDown .aboutArrow__active {
    transition: all 0.3s;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 905px) {
  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 225px;
    height: 225px;
  }
}
@media screen and (max-width: 885px) {
  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  .wrap .specialitiesPage .specialitiesPage__bottom article:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 255px;
    height: 255px;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img:nth-child(3) {
    display: none;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main {
    justify-content: flex-start;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img:nth-child(2) {
    margin-left: 50px;
  }
}
@media screen and (max-width: 740px) {
  .wrap .homePage .main .main__right img {
    width: 100%;
  }

  .wrap .homePage header nav {
    justify-content: flex-end;
  }

  .wrap .homePage header nav > div {
    display: none;
  }

  .wrap .homePage .main .main__left .buttons {
    margin-top: 35px;
  }
}
@media screen and (max-width: 690px) {
  .wrap .specialitiesPage .specialitiesPage__bottom article:nth-child(7) {
    display: none;
  }

  .wrap .locationPage .map .locationBox img {
    height: 25px;
  }

  .wrap .locationPage .map .locationBox {
    width: 25px;
    height: 22px;
    left: 50.3%;
  }

  .wrap .locationPage .map {
    height: 250px;
  }

  @keyframes grow {
    35% {
      height: 25px;
    }
    50% {
      height: 30px;
    }
    35% {
      height: 25px;
    }
  }
  .wrap .locationPage .map .locationBox img:hover {
    height: 35px;
  }
}
@media screen and (max-width: 650px) {
  .wrap .ourInstagramPage .ourInstagramPage__main img {
    width: 100%;
    height: auto;
  }

  .wrap .ourInstagramPage .ourInstagramPage__main img:nth-child(2) {
    display: none;
  }

  .wrap .ourInstagramPage .ourInstagramPage__title {
    font-size: 1.4em;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards article:nth-child(3) {
    display: none;
  }

  .wrap .RestaurantsPage .main .main__bottom .RestaurantsSlider .sliderCards button {
    width: 45px;
    height: 45px;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom button {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 580px) {
  .wrap .homePage .aboutBlock .aboutBlock__box:nth-child(2) {
    display: none;
  }

  .wrap .homePage .aboutBlock {
    width: 236px;
  }
}
@media screen and (max-width: 520px) {
  .wrap .specialitiesPage .specialitiesPage__bottom article:nth-child(8) {
    display: none;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom {
    justify-content: space-around;
  }
}
@media screen and (max-width: 500px) {
  .wrap .homePage header > img {
    width: 155px;
  }

  .wrap .homePage header nav .burger {
    width: 45px;
    height: 45px;
    padding: 15px 0;
  }

  .wrap .homePage header {
    height: 65px;
  }

  .wrap .burger__menu {
    width: 80%;
    margin-top: 65px;
    padding: 3% 7% 0 7%;
  }

  .wrap .burger__menu .burger__menu-box {
    padding: 15px 0 150px 0;
  }

  .wrap .burger__active {
    left: 20%;
  }

  .wrap .homePage .main .main__left .buttons > div {
    width: 120px;
    height: 78px;
  }

  .wrap .homePage .main .main__left .buttons {
    width: 284px;
  }

  .wrap .RestaurantsPage .main .main__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrap .RestaurantsPage .main .main__top button {
    margin-top: 10px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__left p {
    width: 87%;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin-top: 30px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container {
    width: 100%;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right .input__container::before {
    margin-bottom: 13px;
  }

  .wrap .nearestRestorantPage .nearestRestorantPage__right button {
    margin-left: 0;
    width: 100%;
    height: 50px;
  }

  .wrap .nearestRestorantPage {
    min-height: 395px;
  }

  .wrap .specialitiesPage .specialitiesPage__top button {
    margin-top: 10px;
  }

  .wrap .specialitiesPage .specialitiesPage__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 390px) {
  .wrap .specialitiesPage .specialitiesPage__bottom article {
    width: 120px;
    height: 120px;
  }

  .wrap .specialitiesPage .specialitiesPage__bottom article .cardDescriptin {
    font-size: 1em;
  }

  .wrap .locationPage .map .locationBox:nth-child(4) {
    left: 12.1%;
    top: 11.4%;
  }

  .wrap .locationPage .map .locationBox:nth-child(8) {
    left: 30.7%;
  }

  .wrap .locationPage .map .locationBox:nth-child(5) {
    left: 28%;
  }
}
@media screen and (max-width: 340px) {
  .wrap .homePage .main .main__left > h2 {
    font-size: 1.7em;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
